*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
/google-services.json

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
*.so

# Chaquopy
/app/src/main/python/build/
app/build/python/

# Gradle
.gradle/
.kotlin/
gradle-app.setting
!gradle-wrapper.jar
.navigation/
captures/
gradle/gradle-daemon-jvm.properties
